{% extends "layout.html" %}
{% block content %}
    <h1>About Us</h1>
    <p>At Flask Blog, we believe that story is the most powerful way to put our ideas into the world.
    <br>Through stories, we can create a community that enables us to see through the eyes of other
    people and opens us to the claims of others. Flask Blog is a platform where you can write any story
    and post it easily! As the saying goes, "What are we but our stories?"
    <br>
    <br>Cheers,
    <br>Richard Cornelius Suwandi
    <br>CEO of Flask Blog</p>
{% endblock content %}