{% extends "layout.html" %}
{% block content %}
    <h1>About Us</h1>
    <p>Welcome to Flask Blog!
        Flask Blog is a web app where you can write and post anything you want!
        Here are some simple steps to start:
        1. Register for a Flask Blog account (you can change your username and email later!)
        2. Log in with your email and password
        3. Start writing by going to the 'New Post' tab!
        4. Click your post to update or delete it

        Cheers,
        Richard Cornelius Suwandi
        CEO of Flask Blog</p>
{% endblock content %}