{% extends "layout.html" %}
{% block content %}
    <h1>About Us</h1>
    <p>At Flask Blog, we believe that story is the most powerful way to put ideas into the world. Through stories, we can create a
    <br>community that enables us to see through the eyes of other people and opens us to the claims as others. Flask Blog is a web app
    <br>where you can write any stories and post them easily! As the saying goes, "What are we but our stories?"
    <br>
    <br>Cheers,
    <br>Richard Cornelius Suwandi
    <br>CEO of Flask Blog</p>
{% endblock content %}